<h2 id="title">{{#link-to 'index'}}Ember-Travis-Status Demo{{/link-to}}</h2>

<p>
  <a href="https://github.com/sir-dunxalot/ember-travis-status" target="_blank"><button>Repository</button></a>
  {{travis-badge repo='sir-dunxalot/ember-travis-status'}}
</p>


<ul>
  <li>{{#link-to 'make-first-request'}}Make first request{{/link-to}}</li>
  <li>{{#link-to 'make-second-request'}}Make second request{{/link-to}}</li>
</ul>

{{outlet}}
