<h2 id="title">Welcome to Ember.js</h2>

<ul>
  <li>{{#link-to 'make-first-request'}}Make first request{{/link-to}}</li>
  <li>{{#link-to 'make-second-request'}}Make second request{{/link-to}}</li>
</ul>

{{outlet}}
